{% extends "base.html" %}

{% block body %}
<div>
    <img src="\static\galactic-night-sky-astronomy-science-combined-generative-ai.jpg" style="height:90vh" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>Know Your Galaxy</h5>
      <p class="text-bg-secondary p-3">Space exploration is a force of nature unto itself that no other force in society can rival.</p>
    </div>
  </div>
<div  class="text-bg-dark p-3">
    <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Space Encyclopedia </h5>
          <p class="card-text">The Space Encyclopedia provides a range of information on various important components of space, for instance, Milky Way, Planets, Stars, Satellites, etc. This book is a one-stop solution to all the space-related questions and queries.This encyclopedia have covered all the important constraint related to space student can use it for reference. Download the encyclopedia from below</p>
          <p class="card-text-end fs-5">Encyclopedia 1</p>
          <a href="https://drive.google.com/uc?id=1Ic1PUB3dFKwVe0F1lrxai4JUB9HLqr0F&export=download" class="btn btn-primary">Click to Download</a>
          <p class="card-text-end fs-5">Encyclopedia 2</p>
          <a href="https://drive.google.com/uc?id=1CmfEijqYbwdvaHqlZLbcRNr8YyTI5ucO&export=download" class="btn btn-primary">Click to Download</a>
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>
</div>
<div  class="text-bg-dark p-3">
  <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Forward to the Moon – NASA Activities Book </h5>
        <p class="card-text">
          NASA
          
          Categories: Activities and Crafts, Age 6-9 years, All FKB Books, Beginner English, Children, Grade 1 to Grade 3, Public Domain, Science, Space, Transport
          
          Published by NASA this space activities book provides fun recognition, word, and math activities and information about space flight aimed at children aged 5 to 12.  </p>
        <p class="card-text-end fs-5">BOOK</p>
        <a href="https://drive.google.com/uc?id=1gQAT9b0Klm41WKock3itrLmE5I7mhc7N&export=download" class="btn btn-primary">Click to Download</a>
       
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
</div>
<div  class="text-bg-dark p-3">
  <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">There’s a Hole in my Galaxy</h5>
        <p class="card-text">
          
          Author: Ananya Dasgupta, Illustrator: Chaaya Prabhat
          
          Categories: Age 6-9 years, All FKB Books, Children, Creative Commons, Grade 1 to Grade 3, Intermediate English, Science, Space, Storyweaver-Pratham
          
          In the year 2563 Maya and her friend Ava borrow the family space ship for a trip to Pluto. Halfway there they have a battle with a black hole where they are almost sucked in. Along the way, we learn lots of facts about black holes. Sample text from There’s a Hole in my Galaxy …  </p>
        <p class="card-text-end fs-5">BOOK</p>
        <a href="https://drive.google.com/uc?id=1rnnMMoBl4wJomFXxYrqrVLOZjfEv_-Bb&export=download" class="btn btn-primary">Click to Download</a>
       
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
</div>
<div  class="text-bg-dark p-3">
  <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Solar System Wikijunior textbooks</h5>
        <p class="card-text">


Categories: Age 10-13 years, All FKB Books, Creative Commons, Fluent English, Grade 4 to Grade 6, Non-Fiction, Older Children, Science, Space, WikiBooks


Solar system Wikijunior ebook is a text book on the solar system for upper elementary and middle school, this book has tons of facts on the solar system presented in an appealing way, easy for children to understand. The Solar System Wikijunior book is a creative commons book, so all text can be reused and …
          
       </p>
        <p class="card-text-end fs-5">BOOK</p>
        <a href="https://drive.google.com/uc?id=1zUFCc8hW32VQ410B_ObIyTyOMzCYzhTs&export=download" class="btn btn-primary">Click to Download</a>
       
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
</div>
<div  class="text-bg-dark p-3">
  <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Space Puzzles Book 1 – fun activities for kids from NASA</h5>
        <p class="card-text">
      

Categories: Activities and Crafts, Age 6-9 years, All FKB Books, Children, Fluent English, Grade 1 to Grade 3, Non-Fiction, Public Domain, Science, Space


A space puzzles book for children interested in space. This activity book contains interesting facts about space flight along with activities to match. The book includes a maths puzzle, unscramble national parks, find words, match parts of the space station, and spot the difference. The National Aeronautics and Space Administration, or NASA, and the National …



       </p>
        <p class="card-text-end fs-5">BOOK</p>
        <a href="https://drive.google.com/uc?id=1rCXcdpcRvYee3tMHiiRq4q_C69dm3JCD&export=download" class="btn btn-primary">Click to Download</a>
       
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
</div>
<div  class="text-bg-dark p-3">
  <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">3…2…1… Blast Off! – Space Early non-fiction book about space</h5>
        <p class="card-text">
          
Authors: Praba Ram, Sheela Preuitt, Illustrator: Vidyun Sabhaney

Categories: Age 2-5 Years, Age 6-9 years, All FKB Books, Children, Creative Commons, Grade 1 to Grade 3, Intermediate English, Non-Fiction, Science, Space, Storyweaver-Pratham

3…2…1… Blast Off! is a space  early non-fiction theme book. This count-down style book counting down from 12 to 1, introduces readers to fascinating celestial objects, to space concepts, and to the people involved in the various facets of astronomy. It may just inspire them to take a step towards a career in astronomy. Come, …

       </p>
        <p class="card-text-end fs-5">BOOK</p>
        <a href="https://drive.google.com/uc?id=1CmUhj_JKmpQplz_HWeTLvLHIhP_l_NUf&export=download" class="btn btn-primary">Click to Download</a>
       
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
</div>
<div  class="text-bg-dark p-3">
  <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Captain Ren’s Trip to Mars – Space theme early reader</h5>
        <p class="card-text">
          
Written by Bel Richardson, Illustrated by Mykyta Harets

Categories: Age 2-5 Years, All FKB Books, Beginner English, Bookbot, Early Reader, Grade 1 to Grade 3, Grade K and Pre K, science fiction, Space, Toddlers

Captain Ren is ready for his first adventure into space, he’s off to Mars. He has important work to do on Mars. What will he do while he is there? Will he meet anything on Mars? Get ready for lift off! In this fictional space theme early reader young astronauts can entertain their dreams of …
       </p>
        <p class="card-text-end fs-5">BOOK</p>
        <a href="https://drive.google.com/uc?id=12Y6_yfKbp9Tc-cdNpzITMHGCxxW6wMPE&export=download" class="btn btn-primary">Click to Download</a>
       
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
</div>
<div  class="text-bg-dark p-3">
  <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Where Does the Sun Go at Night? – Early Non-fiction and Project</h5>
        <p class="card-text">
          Where Does the Sun Go at Night? – Early Non-fiction and Project
Author: Roopa Pai Illustrator: Greystroke

Categories: Age 6-9 years, All FKB Books, Children, Grade 1 to Grade 3, Intermediate English, Nature, Non-Fiction, School Projects, Science, Space, Storyweaver-Pratham

In Where Does the Sun Go at Night, a sister and brother discuss where the sun might go at night. The younger brother keeps guessing lots of inventive ideas, but the older sister knows best what she’s been taught from books at school and explains to her brother where the sun goes at night.
          
 
      </p>
        <p class="card-text-end fs-5">BOOK</p>
        <a href="https://drive.google.com/uc?id=1njM1xKpzgdxhDHGj2wIlW4R4qDXdIk_l&export=download" class="btn btn-primary">Click to Download</a>
       
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
</div>
<div  class="text-bg-dark p-3">
  <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Tania’s Martian Encounter – Science fact and fiction</h5>
        <p class="card-text">
          Tania’s Martian Encounter – Science fact and fiction
Author : Kanika G

Categories: Age 6-9 years, All FKB Books, Children, Grade 1 to Grade 3, Kanika G, Science, Space

Tania’s back with more adventures in Tania’s Martian Encounter.  In Tania’s latest adventure, she’s heard about the new discovery of water on Mars. It’s simply fascinating, and Mama explains to her all about the planets and how important the discovery is. Tania’s uncle works for NASA and is coming to visit, so she is expecting …
          
      </p>
        <p class="card-text-end fs-5">BOOK</p>
        <a href="https://drive.google.com/uc?id=13zKTXUd7GLQucNCcgkIYpUfOzU-P9iMV&export=download" class="btn btn-primary">Click to Download</a>
       
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
</div>
<div  class="text-bg-dark p-3">
  <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">The Flying Train</h5>
        <p class="card-text">
         
Author : Janaki Sooriyarachchi

Categories: 10 to 15 minute bedtime stories, Age 2-5 Years, All FKB Books, Children, Fantasy, Grade 1 to Grade 3, Intermediate English, Janaki Sooriyarachchi, Space, Trains, Transport

One night, a flying train takes Jimmy, Nelly, and friends on an adventure to outer space. Was it all just a dream? An award winning, fun filled book. The flying train is a great chance to introduce facts about the solar system to young children. Janaki Sooriyarachchi is a highly respected author from Sri Lanka with an exceptional 
 
      </p>
        <p class="card-text-end fs-5">BOOK</p>
        <a href="https://drive.google.com/uc?id=1mKuCPOPIh9FXIMgmwb4hZNM3_hiIDHY9&export=download" class="btn btn-primary">Click to Download</a>
       
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
</div>
<div  class="text-bg-dark p-3">
  <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">The Sun and the Places Where it Shines</h5>
        <p class="card-text">
         
          Author : Thea Kinyon
          
          Categories: Age 6-9 years, All FKB Books, Books for a Cause, Children, Grade 1 to Grade 3, Intermediate English, School Projects, Science, Space, Thea Kinyon
          
          
          What does the sun give us apart from warmth and light? How many days are there on Mercury? How many moons does Jupiter have? Is there a possibility of life somewhere else? A simple, fun, and modern introduction to our solar system, including glossary, recommended links, fun facts, and activities at the end.

      </p>
        <p class="card-text-end fs-5">BOOK</p>
        <a href="https://drive.google.com/uc?id=1dQ4nBS4tFRlCcJ41dYgGlPYUWNd1DpX-&export=download" class="btn btn-primary">Click to Download</a>
       
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
</div>
{% endblock body %}