{% extends "base.html" %}

{% block body %}
<div>
    <img src="\static\ultra-detailed-nebula-abstract-wallpaper-6.jpg" style="height:90vh" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>Know Your Galaxy</h5>
      <p class="text-bg-warning p-3">Review Us, Let us know what more you want to know about space</p>
    </div>
  </div>
<div  class="text-bg-dark p-3">
<form class="row g-3" method="post" action="/Review">
    {% csrf_token %}
    
    <div class="input-group">
        <span class="input-group-text">First and last name</span>
        <input type="text" aria-label="First name" class="form-control" id="firstname" name="firstname">
        <input type="text" aria-label="Last name" class="form-control" id="lastname" name="lastname">
      </div>
    <div class="col-md-6">
      <label for="phone" class="form-label">Phone Number</label>
      <input type="tel" class="form-control" id="phone" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      <small>Format: 123-456-7890</small>
    </div>
    <div class="col-12">
      <label for="Address" class="form-label">Address</label>
      <input type="text" class="form-control" id="Address" name="Address" placeholder="1234 Main St">
    </div>
    <div class="col-md-6">
      <label for="City" class="form-label">City</label>
      <input type="text" class="form-control" id="City" name="City">
    </div>
    <div class="col-md-6">
        <label for="State" class="form-label">State</label>
        <input type="text" class="form-control" id="State" name="State">
      </div>
   
    <div class="form-floating">
      
        <textarea class="form-control" placeholder="Let us know what more you want to know more about space" id="desc" name="desc" style="height: 100px"  ></textarea>
        <label for="desc" class="form-label">Let us know what more you want to know more about space</label>
      </div>
   
   
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

{% endblock body %}